@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-hero{
    background-image: url('../assets/herobg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}